.LeafyGreen_heading{
    text-align: center;
}
.LeafyGreen_categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
  
.LeafyGreen_category-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
  
.LeafyGreen_category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
  
.LeafyGreen_category-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
  
.LeafyGreen_category-card h3 {
    text-align: center;
    padding: 15px 10px;
    background-color: #27ae60;
    color: white;
    font-size: 18px;
}
  
  
@media (max-width: 600px) {
    .LeafyGreen_category-card h3 {
        font-size: 16px;
        padding: 10px;
    }
}
