
  
  .home {
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../Assets/home_banner.jpg") center/cover no-repeat;
      background-attachment: fixed;
      overflow-x: hidden;
    color: white;
    padding: 100px 20px;
    height:400px;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .shop-now-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .shop-now-btn:hover {
    background-color: #27ae60;
  }
  
  .Home_categories {
    background-color: rgb(237, 169, 23);
    padding: 50px 20px;
    height: 280px;
  }
  
  .Home_categories h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: black;
    margin-top:-10px;
  }
  
  .Home_categories-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .Home_category-card {
    width: 200px;
    text-align: center;
    position:relative;
    margin: -15px;
  }

  .hover-paragraph {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    margin-top: 10px;
    color:white;
}
  
  .Home_category-card img {
    width: 85%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
  }

  .Home_category-card img:hover {
    border: 3px solid #27ae60;
  }

  .Home_category-card:hover .hover-paragraph{
    display: block;
  }

  .exclusive-offer{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../Assets/offers.webp") center/cover no-repeat;
    background-attachment: fixed;
  color: white;
  padding: 100px 20px;
  }
  
  .percent{
    color: #27ae60;
  }
  .featured-products {
    padding: 50px 20px;
    background-color: rgb(237, 169, 23);

  }
  
  .featured-products h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .product-card {
    display: inline-block;
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin: 20px
  }
  
  .product-card img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

  }
  
  .product-card h3 {
    font-size: 20px;
    margin: 15px 0 5px;
  }
  
  .product-card p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .product-card button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(237, 169, 23);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .product-card button:hover {
    background-color: rgb(182, 129, 15);
  }

  .explore-more-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .explore-more-btn span{
    text-decoration: none;
    color: white;
  }
  .explore-more-btn span:hover{
    font-size: 17px;
  }
  
  .explore-more-btn:hover {
    background-color: rgb(247, 81, 51);
  }


  .fast-delivery{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../Assets/delivery.jpg") center/cover no-repeat;
    background-attachment: fixed;
  color: white;
  padding: 100px 20px;
  overflow-x: hidden;
  margin-bottom: -50px;
  }
  
  @media screen and (max-width: 768px) {
    .hero-content h1 {
      font-size: 36px;
    }
  
    .Home_categories-container {
      flex-direction: column;
      align-items: center;
    }
  
    .product-card img {
      max-width: 100%;
    }
  }
  